# Data and Model Files
data/
checkpoints/
seed-vc/
ground_truth/
whisper.ipynb
autodubbing.ipynb

# Output
*.mp4
*.wav
*.json

# Secrets
.env
gcp_key.json
dtumlops-448114-5aa70f0364ab.json

# Editor/OS
.vscode/
.DS_Store
*.swp
*.swo

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/

