numpy==2.1.3
torch==2.6.0
openai-whisper==20240930
deepl==1.21.0
pydub==0.25.1
python-dotenv==1.0.1
omegaconf==2.3.0
demucs==4.0.1
assemblyai==0.37.0
google-cloud-texttospeech==2.25.1
audiostretchy==1.3.5
diffq==0.2.4
stable-ts==2.19.0
rich==14.0.0